<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-utilisateurs-heading" jhiTranslate="aubApp.utilisateurs.home.createOrEditLabel">Create or edit a Utilisateurs</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.numRue" for="field_numRue">Num Rue</label>
                    <input type="number" class="form-control" name="numRue" id="field_numRue"
                           formControlName="numRue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.nomRue" for="field_nomRue">Nom Rue</label>
                    <input type="text" class="form-control" name="nomRue" id="field_nomRue"
                           formControlName="nomRue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="number" class="form-control" name="codePostal" id="field_codePostal"
                           formControlName="codePostal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="d-flex">
                        <input id="field_dateNaissance" type="datetime-local" class="form-control" name="dateNaissance" formControlName="dateNaissance" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.paniers" for="field_paniers">Paniers</label>
                    <select class="form-control" id="field_paniers" name="paniers" formControlName="paniers">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paniersOption.id === editForm.get('paniers').value?.id ? editForm.get('paniers').value : paniersOption" *ngFor="let paniersOption of paniers; trackBy: trackPaniersById">{{paniersOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.utilisateurs.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
