<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commandes-heading" jhiTranslate="aubApp.commandes.home.createOrEditLabel">Create or edit a Commandes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.commandes.dateCommande" for="field_dateCommande">Date Commande</label>
                    <div class="d-flex">
                        <input id="field_dateCommande" type="datetime-local" class="form-control" name="dateCommande" formControlName="dateCommande" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.commandes.statut" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="CONFIRMEE">{{'aubApp.CommandeStatut.CONFIRMEE' | translate}}</option>
                        <option value="ANNULEE">{{'aubApp.CommandeStatut.ANNULEE' | translate}}</option>
                        <option value="EXPEDIEE">{{'aubApp.CommandeStatut.EXPEDIEE' | translate}}</option>
                        <option value="LIVREE">{{'aubApp.CommandeStatut.LIVREE' | translate}}</option>
                        <option value="NON_CONFIRMEE">{{'aubApp.CommandeStatut.NON_CONFIRMEE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aubApp.commandes.utilisateurs" for="field_utilisateurs">Utilisateurs</label>
                    <select class="form-control" id="field_utilisateurs" name="utilisateurs" formControlName="utilisateurs">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utilisateursOption.id === editForm.get('utilisateurs').value?.id ? editForm.get('utilisateurs').value : utilisateursOption" *ngFor="let utilisateursOption of utilisateurs; trackBy: trackUtilisateursById">{{utilisateursOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
