.row {
  overflow: hidden;
  height: 300px;
}

.col {
  overflow: hidden;
}

img[src*="Ouistiti"] {
  position: absolute;
  top: -10%;
  width: 100%;
}

img[src*="lion"] {
  position: absolute;
  top: -18%;
  width: 100%;
}

img[src*="felin"] {
  position: absolute;
  top: -25%;
  width: 100%;
}

img[src*="Boa"] {
  position: absolute;
  top: -40%;
  width: 100%;
}

img[src*="Bulldog"] {
  position: absolute;
  top: 0%;
  width: 100%;
}
img[src*="Poisson"] {
  position: absolute;
  top: -80%;
  width: 100%;
}
img[src*="T-Rex"] {
  position: absolute;
  top: -45%;
  width: 100%;
}
.articlelogo{
  position: absolute;
  top: -10%;
  width: 100%;
}

.articlelogo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.articleMainDesc {
  color: darkslategray;
  padding: 45px 45px;
}

.articleCara {
  background: darkslategray;
  color: white;
  padding: 35px 35px;
}

.spacer {
  flex: 0.5 1 auto;
}
.spacer-div {
  display: flex;
  color: black;
}

.nav-item {
  background-color: white;
}
.row-min {
  height: 200px;
}
