<div class="row">
    <div class="col-md-7 col">
        <img src="{{articleItem.imageContentType}}" alt="Photo de {{articleItem.nom}}" class="articlelogo">
    </div>
    <div class="col-md-5 col articleMainDesc">
        <h1 class="display-4">
            {{articleItem.nom}},
            <h5> {{articleItem.age}} ans</h5>
        </h1>
        <fa-icon *ngIf="articleItem.sexe==='FEMELLE'" icon="venus"></fa-icon>
        <fa-icon *ngIf="articleItem.sexe==='MALE'" icon="mars"></fa-icon>
        <fa-icon *ngIf="articleItem.sexe==='HERMAPHRODITE'" icon="venus-mars"></fa-icon>
        <hr>
        <p> Description </p>
        <div>
            <p> {{articleItem.description}} </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 col articleCara">
        <div class="button-div">
            <div class="row-min">
                <h5>
                    Caracteristiques :
                </h5>
                <div>
                    <fa-icon icon="weight"></fa-icon>
                    {{articleItem.poids}}kg
                </div>
                <div>
                    <p *ngIf="articleItem.fertilite==='FERTILE'"> Fertile </p>
                    <p *ngIf="articleItem.fertilite==='CASTRE'"> Castré </p>
                    <p *ngIf="articleItem.fertilite==='STERILE'"> Stérile </p>
                </div>
                <div>
                    <p> Age : {{articleItem.age}} ans</p>
                </div>
                <p> Prix : {{articleItem.prix}} euros</p>

            </div>
            <div *ngIf="articleItem.statut==='DISPONIBLE'" class="spacer-div">
                <span class="spacer"></span>
                <span _ngcontent-qhy-c2="" class="nav-item active button_span" (click)="addToPanier()">
                    <a _ngcontent-qhy-c2="" class="nav-link waves-light"> Adoptez moi
                        <span _ngcontent-qhy-c2="" class="sr-only"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5 col">
        <img src="../../content/images/logo_6464.svg"" alt="Photo de AdopteUneBete" class="articlelogo2">
    </div>
</div>