<div>
    <h2 id="page-heading">
        <span jhiTranslate="aubApp.animaux.home.title">Animauxes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-animaux" [routerLink]="['/animaux/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="aubApp.animaux.home.createLabel">
            Create a new Animaux
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="animauxes?.length === 0">
        <span jhiTranslate="aubApp.animaux.home.notFound">No animauxes found</span>
    </div>
    <div class="table-responsive" *ngIf="animauxes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="aubApp.animaux.nom">Nom</span></th>
            <th><span jhiTranslate="aubApp.animaux.age">Age</span></th>
            <th><span jhiTranslate="aubApp.animaux.prix">Prix</span></th>
            <th><span jhiTranslate="aubApp.animaux.description">Description</span></th>
            <th><span jhiTranslate="aubApp.animaux.statut">Statut</span></th>
            <th><span jhiTranslate="aubApp.animaux.typeAnimal">Type Animal</span></th>
            <th><span jhiTranslate="aubApp.animaux.sexe">Sexe</span></th>
            <th><span jhiTranslate="aubApp.animaux.poids">Poids</span></th>
            <th><span jhiTranslate="aubApp.animaux.fertilite">Fertilite</span></th>
            <th><span jhiTranslate="aubApp.animaux.dateAjout">Date Ajout</span></th>
            <th><span jhiTranslate="aubApp.animaux.image">Image</span></th>
            <th><span jhiTranslate="aubApp.animaux.paniers">Paniers</span></th>
            <th><span jhiTranslate="aubApp.animaux.commandes">Commandes</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let animaux of animauxes ;trackBy: trackId">
                <td><a [routerLink]="['/animaux', animaux.id, 'view' ]">{{animaux.id}}</a></td>
                <td>{{animaux.nom}}</td>
                <td>{{animaux.age}}</td>
                <td>{{animaux.prix}}</td>
                <td>{{animaux.description}}</td>
                <td jhiTranslate="{{'aubApp.AnimalStatut.' + animaux.statut}}">{{animaux.statut}}</td>
                <td jhiTranslate="{{'aubApp.TypeAnimal.' + animaux.typeAnimal}}">{{animaux.typeAnimal}}</td>
                <td jhiTranslate="{{'aubApp.Sexe.' + animaux.sexe}}">{{animaux.sexe}}</td>
                <td>{{animaux.poids}}</td>
                <td jhiTranslate="{{'aubApp.Fertilite.' + animaux.fertilite}}">{{animaux.fertilite}}</td>
                <td>{{animaux.dateAjout | date:'medium'}}</td>
                <td>
                    <a *ngIf="animaux.image" (click)="openFile(animaux.imageContentType, animaux.image)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="animaux.image">{{animaux.imageContentType}}, {{byteSize(animaux.image)}}</span>
                </td>
                <td>
                    <div *ngIf="animaux.paniers">
                        <a [routerLink]="['/paniers', animaux.paniers?.id, 'view' ]" >{{animaux.paniers?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="animaux.commandes">
                        <a [routerLink]="['/commandes', animaux.commandes?.id, 'view' ]" >{{animaux.commandes?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/animaux', animaux.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/animaux', animaux.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/animaux', { outlets: { popup: animaux.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
