.middle-spacer {
  flex: 0.5 1 auto;
}

.catName {
  margin: 50px 0px;
}

.revertPadding {
  padding-left: 60px;
}
.revertPaddingRight {
  padding-right: 40px;
}
.spacedLines {
  margin-top: 30px;
}

.totalPage {
  height: auto;
  min-height: 600px;
  margin-bottom: 40px;
}
