<div class="paymentCongratsPage">
    <span class="spacer"></span>
    <img src="../../content/images/logo_6464.svg" alt="Logo" class="logo">
</div>

<div class="paymentCongrats">
    <span class="spacer">
    </span>
    <span>
        <h3>
            Nous vous remercions pour votre achat
        </h3>
    </span>
</div>
<div class="paymentCongrats">  
    <span class="spacer"></span>
    <span class="button_span">
        <a class="waves-light" >
            <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span routerLink="/" >Revenir a l'ecran d'accueil ?</span>
                <span class="sr-only"></span>
            </div>
        </a>
    </span>
</div>

