<div class="articleCard">
<!--Card-->
    <!--Card-->
    <mdb-card>
        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
            <div class="articleImgDiv">
                <img src="{{articleItem.image}}" alt="Photo de {{articleItem.nom}}" class="articlelogo">
            </div>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Button-->
        <div class="circle" (click)="goToProductDetails()">
            <div routerLinkActive="active">
                <span>
                    <fa-icon icon="chevron-right" class="chevronIcon"></fa-icon>
                </span>
                <span class="sr-only"></span>
            </div>

        </div>

        <!--Card content-->
        <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
                <h4> {{articleItem.nom}}</h4>
            </mdb-card-title>

            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">{{articleItem.description}}</p>
        </mdb-card-body>
        <!--/.Card content-->
        <!-- Card footer -->
        <mdb-card-footer class="lighten-3 text-center">
            <ul class="list-unstyled list-inline font-small mt-3">
                <li class="list-inline-item pr-2">
                    <mdb-icon far icon="clock" class="pr-1"></mdb-icon>Price : </li>
                <li class="list-inline-item pr-2">
                    {{articleItem.prix}}
                </li>
                <li class="list-inline-item pr-2">
                    euros
                </li>
            </ul>
        </mdb-card-footer>
        <!-- Card footer -->
    </mdb-card>
    <!--/.Card-->
</div>
