/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 100%;
  height: 400px;
  background: url('../../content/images/animal-homepage.jpg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/animal-homepage.jpg') no-repeat center top;
    background-size: contain;
  }
}
.button-div {
  text-align: center;
}
.button-savoir {
  margin: 15px auto;
  color: white;
  background-color: darkslategray;
  border: none;
}
.middle-spacer {
  flex: 0.5 1 auto;
}

.alert-warning {
  background-color: darkslategray;
  color: white;
}

.alert-warning .alert-link {
  color: white;
}

.button_span {
  text-align: center;
  font-size: inherit;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.button_span a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_span a:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 9px;
  right: 0px;
  transition: 0.5s;
}

.button_span:hover a {
  padding-right: 20px;
}

.button_span:hover a:after {
  opacity: 1;
  right: 0;
}

.row {
  width: 100%;
  margin-left: 0px;
  margin-left: 0px;
}
#newIn{
  margin: 35px 0px;
}
.firstElm{
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 30px 0px;
}
.articleNew{
  margin-bottom: 20px;
}
